* {
    background-color: #0E1113 !important;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
     overflow: hidden !important;
     
}

a {
    text-decoration: none !important;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem;
    border-bottom: 1px solid gray;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.search {
    border: 2px solid red;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 30rem;
    padding: 0.2rem 0.5rem;
    margin-left: 2rem;
}

.search-logo {
    height: 2rem;
    width: 2rem;

}

.search-logo img {
    width: 100%;
    border-radius: 0.5rem;
}

.input-field {
    width: 92%;
}

.input-field input {
    height: 1.35rem;
    width: 100%;
    color: white;
    background-color: #0E1113;
    margin-left: 0.25rem;
    text-align: center;
    border: none;
}

.input-field input:active {
    border: none;
}

.head-tools {
    display: flex;
    align-items: center;
}

.head-tools i {
    font-size: 1.2rem;
    margin-left: 0.35rem;
    color: white;
}

.head-tools a {
    color: white;
    font-size: 1.2rem;
    margin: 0 0.25rem;
    text-decoration: none;
}

.container1 {
    height: 100vh;
    display: flex !important;
    padding-bottom: 2rem !important;
}

.container2 {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

.posts-container {
    width: 45rem;
    margin: 0.5rem 0;
}

.post {
    width: 48rem;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    /* Temporary */
    margin-right: 12rem;
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex !important;
    align-items: center !important;
}

.avatar img {
    width: 2.25rem;
    border-radius: 50%;
}

.avatar a {
    margin: 0 0.5rem;
    color: #B7CAD4;
    font-size: 14px;
}

.avatar p {
    color: #B7CAD4;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.post-head-tool {
    display: flex;
    align-items: center;
}

.post-head-tool button {
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.75rem;
    color: black;
    background-color: white !important;
    cursor: pointer;
    font-weight: bolder;
}

.post-head-tool i {
    color: white;
    margin: 0 0.55rem;
    cursor: pointer;
}

.post-title {
    margin: 0.35rem 0;
}

.post-title a {
    color: white;
    font-size: 1.35rem;
    letter-spacing: 0.75px;
}

.post-image {
    height: 27rem !important;
}

.post-image img {
    height: 100%;
    width: 100%;
}

.post-activities {
    display: flex;
    align-items: center;
}

.post-activities i {
    background-color: #2A3236;
}

.post-activities div {
    border-radius: 1rem;
    padding: 0.35rem 0.65rem;
    margin: 0.35rem;
    background-color: #2A3236;
    color: white;
    cursor: pointer;
}

.delete button {
    padding: 0.25rem;
    margin: 0;
    color: black;
    background-color: red !important;
    border: none !important;
    border-radius: 0.5rem !important;
    font-weight: 700;
}

.delete i {
    background-color: red !important;
}

.share a {
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.75rem;
    color: black;
    background-color: white !important;
    cursor: pointer;
    font-weight: bolder;
}

.share i {
    color: black !important;
    background-color: white !important;
}

textarea {
    color: grey !important;
}

textarea::placeholder {
    color: grey !important;
}

/* Detail page */

.post-content {
    color: white !important;
}

/* Sidebar */

.sidebar {
    height: 100%;
    padding: 1rem 1.2rem;
    border-right: 1px solid gray;
}

.nav2 {
    border-bottom: 0.5px solid grey !important;
    padding-bottom: 0.5rem !important ;
}

.nav2 div {
    padding: 0.65rem 0.25rem !important;
    margin: 0.45rem 0 !important;
}

.nav2 div:hover {
    border: 2px solid gray !important;
    cursor: pointer;
}

.nav2 div a {
    display: flex;
    align-items: center;
    color: white !important;
}

.nav2 div a p {
    width: max-content !important;
    margin: 0 !important;
    margin-left: 0.35rem !important;
}


/* Center */
.center {
    margin: 0 20rem !important;
}

/* Error */

.err-display {
    height: 3rem;
    width: 100%;
    margin-left: 0.15rem !important
}

.err-display h4 {
    color: #F74300 !important;
}

.main-content-box {
       width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}